* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    background-color: #0e0b11;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style-type: none;
}

.button-invite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    padding: 16px 40px;
    background: linear-gradient(0.25turn, #f8039c, #e84051);
    border-radius: 999px;
    font-size: 18px;
    font-weight: 500;
}