header {


}

.intro-preview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 7rem 0 6rem 10rem;
}

.intro-preview-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    height: 100%;
    width: 40em;
    color: white;
}

.intro-preview-content-title {
    font-size: 2rem;
    font-weight: 800;
}

.intro-preview-content-subtitle {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #dbdbe3
}

.intro-preview-img-case {
    width: 100%;
    position: relative;
}

.intro-preview-img {
    position: absolute;
    right: 0;
    width: 60rem;
    height: 45rem;
    transform: translateY(-30%);
}

.intro-preview-img-ipl {
    position: absolute;
    right: 350px;
    width: 40rem;
    height: 30rem;
    transform: translateY(-50%);
    animation: floatl 6s ease-in-out infinite;
}

.intro-preview-img-ipr {
    position: absolute;
    right: 50px;
    width: 40rem;
    height: 30rem;
    transform: translateY(-30%);
    animation: floatr 5s ease-in-out infinite;
}


.features-preview {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10rem;
    padding: 2rem 10rem;

    gap: 100px;
}

.features-preview-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.features-preview-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    height: 100%;
}

.features-preview-content-title {
    font-size: 2rem;
    font-weight: 800;
    color: white;
}

.features-preview-content-subtitle {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #dbdbe3
}

.features-preview-img {
    width: 10rem;
}


@keyframes floatr {
    0% {
        transform: translatey(-30%);
    }
    50% {
        transform: translatey(-32%);
    }
    100% {
        transform: translatey(-30%);
    }
}

@keyframes floatl {
    0% {
        transform: translatey(-50%);
    }
    50% {
        transform: translatey(-52%);
    }
    100% {
        transform: translatey(-50%);
    }
}


@media (max-width: 1580px) {

    .intro-preview-img {
        width: 40rem;
        height: 30rem;
    }

    .intro-preview-img-ipl {
        position: absolute;
        width: 25rem;
        height: 18rem;
        right: 220px;
        transform: translateY(50%);
    }

    .intro-preview-img-ipr {
        position: absolute;
        width: 25rem;
        height: 18rem;
        right: 80px;
        transform: translateY(30%);
    }
}

@media (max-width: 1400px) {
    .features-preview {
        margin-top: 0;
        flex-direction: column;
    }
    .features-preview-content {
        width: 100%;
    }

    .features-preview  {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .features-preview-content-title {
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }

    .features-preview-img {
        width: 250px;
    }
}

@media (max-width: 1180px) {

    .intro-preview-img {
        display: block;
    }

    .intro-preview-img-case {
        right: calc(50% - 300px);
        margin: 10rem 0 25rem;
    }

    .intro-preview-img-ipl {
        position: absolute;
        width: 25rem;
        height: 18rem;
        right: calc(50% - 300px);
        transform: none;
    }

    .intro-preview-img-ipr {
        position: absolute;
        width: 26rem;
        height: 18rem;
        right: calc(50% - 500px);
        transform: none;
    }
    .intro-preview {
        flex-direction: column-reverse;

    }

    .features-preview{
        padding: 0 20px;
    }

    .intro-preview-content {
        width: 60%;
    }

}

@media (max-width: 1030px) {
    .features-preview {
        margin-top: 5rem;
    }
    .intro-preview {
        padding: 0 20px 0;
        align-items: center;
        justify-content: center;
    }


}

@media (max-width: 1000px) {

    .intro-preview-img-ipl {
        right: calc(50% - 100px);
        transform: none;
    }

    .intro-preview-img-ipr {
        right: calc(50% - 300px);
        transform: none;
    }


}

@media (max-width: 700px) {

    .intro-preview-img-case {
        margin-bottom: 15rem;
    }

    .intro-preview-img {
        display: none;
    }

    .intro-preview-content {
        width: 100%;
        gap: 15px
    }

    .intro-preview-img-ipl {
        position: absolute;
        width: 25rem;
        height: 18rem;
        right: calc(50% - 100px);
        transform: none;
    }

    .intro-preview-img-ipr {
        position: absolute;
        width: 26rem;
        height: 18rem;
        right: calc(50% - 300px);
        transform: none;
    }

    .features-preview-item {
        display: flex;
        flex-direction: column;
    }
    .features-preview-content {
        gap: 15px
    }


}





@media (max-width: 577px) {
    .intro-preview-img-ipl {
        position: absolute;
        right: 190px;
        transform: none;
    }

    .intro-preview-img-ipr {
        position: absolute;
        right: 0;
        transform: none;
    }
}


